<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" *ngIf="_httpService">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<br />
<div class="restful-data">
  <h1>RESTful Tasks API Interactive</h1>
  <button (click)="getAllTasks()" class="getBtn">Get All Tasks</button>
  <div class="show-box" *ngIf="allTasks">
    <div *ngFor="let x of allTasks.data">
      <p>{{ x.task }} </p>
      <button (click)="showDetails(x.task)" class="showBtn">Show</button>
    </div>
  </div>
  <div class="details-box" *ngIf="details">
    <h3 class="details-txt">
      {{ details.data.task }}
    </h3>
    <h3>Details:</h3>
    <div>
      <p>{{ details.data.details }}</p>
      <p class="text-center" *ngIf="!details.data.details ">No details set or found.</p>
    </div>
  </div>
</div>
<br />
<hr>
<div class="restful-data">
  <h1>RESTful Tasks API</h1>
  <h2>All tasks:</h2>
  <ol>
    <li *ngFor="let x of taskData.data">{{ x.task }}</li>
  </ol>
  <br />
  <h2>The third task:</h2>
  <p>{{ taskData.data[2].task}} </p>
</div>
<br />
<hr>
<div class="restful-data">
  <h1>Pokemon Data:</h1>
  <p><strong>Name:</strong></p>
  <p>{{ _httpService.pokeData.name }}</p>
  <p><strong>Abilities:</strong></p>
  <p *ngFor="let ability of _httpService.pokeData.abilities"> {{ ability.ability.name }}</p>
  <p *ngIf="_httpService.abilityData.pokemon">
    <strong>There are {{ _httpService.abilityData.pokemon.length }} pokemons with the same ability!</strong>
  </p>
</div>
