<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center">{{title}}</h1>
      </div>
    </div>
    <div class="row link-row">
      <div class="col-12">
        <ul>
          <li routerLink="players/" routerLinkActive="active">Manager Players</li>
          <li routerLink="status" routerLinkActive="active">Manager Player Status</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="router-box">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
