.list-add {
  ul {
    list-style: none;
    padding: 0;
    text-align: center;
    li {
      display: inline-block;
      margin: 0 5px;
      font-size: 1.3rem;
      cursor: pointer;
      color: #0075c9;
      text-decoration: underline;
      transition: all 0.2s ease;
      &:nth-child(-n + 2){
        border-right: 1px solid #000000;
        padding-right: 10px;
      }
      &:hover {
        font-weight: 700;
      }
    }
    li.active {
      font-weight: 700;
    }
  }
}
