.actions {
  button {
    margin: 0 5px;
  }
}
.playingBtn {
  background: #00803f;
  color: #ffffff;
}
.notPlayingBtn {
  background: #e74c3c;
  color: #ffffff;
}
.undecidedBtn {
  background: #ffc801;
  color: #ffffff;
}
