<div class="parent-wrapper" *ngIf="route.children.length === 0">
  <div class="row">
    <div class="col-12">
      <button routerLink="new" class="btn btn-success">New restaurant</button>
    </div>
  </div>
  <div class="row" *ngIf="restaurantData.data">
    <div class="col-12">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Restaurant</th>
          <th scope="col">Cuisine</th>
          <th scope="col">Actions available</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let info of restaurantData.data">
          <th scope="row">{{info.name}}</th>
          <td>{{info.cuisine}}</td>
          <td>
            <button routerLink="{{info._id}}" class="btn btn-secondary">Read reviews</button>
            <button routerLink="{{info._id}}/edit" class="btn btn-warning">Update</button>
            <button (click)="delete(info._id)" class="btn btn-danger">Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<router-outlet (activate)="getAll()"></router-outlet>
