<div class="row" *ngIf="singleData.data">
  <div class="col-12">
    <h5>
      <strong>Write a review for {{singleData.data.name}}</strong>
    </h5>
    <br />
    <div class="box">
      <div class="error" *ngIf="error">
        {{errorMsg}}
      </div>
      <form action="/add/review/{{singleData.data._id}}" method="post">
        <div class="form-group">
          <mat-form-field class="example-full-width">
            <input minlength="3" matInput placeholder="Your name:" [(ngModel)]="reviewer"   [formControl]="nameFormControl" [errorStateMatcher]="matcher">

            <mat-error *ngIf="nameFormControl.hasError('required')">
              Your name is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="nameFormControl.hasError('minlength')">
              Please enter minimum <strong>3 characters</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <!--<label for="stars">Stars:</label>-->
          <!--<select class="form-control" [(ngModel)]="stars" name="stars" id="stars">-->
            <!--<option value="1" selected>1 Star</option>-->
            <!--<option value="2">2 Stars</option>-->
            <!--<option value="3">3 Stars</option>-->
            <!--<option value="4">4 Stars</option>-->
            <!--<option value="5">5 Stars</option>-->
          <!--</select>-->

          <mat-form-field>
            <mat-select placeholder="Stars:" [(ngModel)]="stars" [formControl]="starsFormControl" required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let star of starz" [value]="star.value">
                {{star.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="starsFormControl.hasError('required')">Please select a star rating.</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field class="example-full-width">
            <input minlength="3" matInput placeholder="Description:" [(ngModel)]="desc"   [formControl]="descFormControl" [errorStateMatcher]="matcher">

            <mat-error *ngIf="descFormControl.hasError('required')">
              Your name is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="descFormControl.hasError('minlength')">
              Please enter minimum <strong>3 characters</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="btn-box text-right">
          <button routerLink="/restaurants/{{userId}}" class="btn btn-secondary">Cancel</button>
          <button [disabled]="!starsFormControl.valid ||  !descFormControl.valid || !nameFormControl.valid" (click)="addReview()" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
