.container {
    padding-top: 50px;
}
.cats--row .col-12{
    margin-bottom: 20px;
}
.cats--row img,
.cats--row-info img{
    max-width: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}
.row.cats--row-info {
    max-width: 450px;
    margin: 0 auto;
    padding: 10px;
    background: #dadada;
    box-shadow: 3px 3px 3px 1px #e9e9e9;
}