.container {
    margin-top: 40px;
}
.row {
    margin-bottom: 20px;
}

form {
    max-width: 400px;
    display: block;
    margin: 0 auto;
}
.gray {
    color: #777777;
}
.blue {
    color: #0075c9;
    text-align: right;
}
.errors {
    color: #e74c3c;
}
.wolf-box {
    max-width: 500px;
    display: block;
}
.wolf-box.center {
    margin: 0 auto;
}
.delete {
    margin: 0 0 20px 0;
}
.edit {
    margin-bottom: 20px;
}