<div class="row">
  <div class="col-12">
    <p>
      <strong>Register a restaurant</strong>
    </p>

    <div class="reg-box">
      <form action="/new" method="post">
        <div class="error" *ngIf="error">
          {{errorMsg}}
        </div>
        <div class="form-group">
          <mat-form-field class="example-full-width">
            <input minlength="3" matInput placeholder="Restaurant name" [(ngModel)]="name"   [formControl]="nameFormControl" [errorStateMatcher]="matcher">

            <mat-error *ngIf="nameFormControl.hasError('required')">
              Name is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="nameFormControl.hasError('minlength')">
              Please enter minimum <strong>3 characters</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field class="example-full-width">
            <input minlength="3" matInput placeholder="Cuisine" [(ngModel)]="cuisine"   [formControl]="cuisineFormControl" [errorStateMatcher]="matcher">

            <mat-error *ngIf="cuisineFormControl.hasError('required')">
              Cuisine is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="cuisineFormControl.hasError('minlength')">
              Please enter minimum <strong>3 characters</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="btn-box text-right">
          <button routerLink="/restaurants" class="btn btn-secondary">Cancel</button>
          <button [disabled]="!cuisineFormControl.valid ||  !nameFormControl.valid" (click)="updateSingle()" class="btn btn-primary">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
