/* You can add global styles to this file, and also import other style files */
.container {
  margin-top: 50px;
}
.row {
  margin-bottom: 20px;

  @media screen and (max-width: 768px) {
    .col-md-6 {
      margin-bottom: 20px;
    }
  }
}
