/* You can add global styles to this file, and also import other style files */
.container {
  margin-top: 40px;
}
.row {
  margin-bottom: 20px;
}
.txt-blue {
  color: #0075c9;
}
a {
  text-decoration: underline;
}
.form-box {
  max-width: 400px;
  border: 2px solid #dadada;
  padding: 20px;
}
.btn-secondary {
  margin-right: 20px;
}
