<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap 4 Styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="styles/main.css">

    <!--<script type ="text/javascript">-->
        <!--$(document).ready(function (){-->

            <!--var socket = io();-->
            <!--var user;-->
            <!--var dialog = $('.dialog');-->
            <!--var user_list = [];-->
            <!--var html;-->

            <!--$('.postform').submit(function(e){-->
                <!--e.preventDefault();-->
                <!--socket.emit('new_message', {-->
                    <!--msg: $('#chatSend').val(),-->
                    <!--user: $('.userName').text()-->
                <!--});-->
                <!--$('#chatSend').val('');-->
            <!--});-->

            <!--socket.on('new message', function(data){-->
                <!--dialog.append('<div><span>'+ data.username +': </span><span>'+ data.message +'</span></div>');-->
                <!--$('.users-online').html('<p>Users online: '+ data.numUsers +'</p>');-->
                <!--dialog.scrollTop(dialog[0].scrollHeight);-->
            <!--});-->

            <!--socket.on('your msg', function(data) {-->
                <!--$(".dialog").append('<div><span>You: </span><span>'+ data.msg +'</span></div>');-->
                <!--dialog.scrollTop(dialog[0].scrollHeight);-->
                <!--$('.users-online').html('<p>Users online: '+ data.numUsers +'</p>');-->
            <!--});-->

            <!--socket.on('user joined', function(data) {-->
                <!--$('.dialog').append('<p>'+ data.user +' joined.</p>');-->
                <!--user_list.push(data.user);-->
                <!--console.log('Users online: ', user_list);-->
                <!--if (user_list.length > 0) {-->
                    <!--for (var x in user_list) {-->
                        <!--console.log(user_list[x]);-->
                        <!--html += '<p>'+ user_list[x] +'</p>';-->
                    <!--}-->
                    <!--$('.online').html(html);-->
                <!--}-->
            <!--});-->

            <!--socket.on('login', function(data) {-->
                <!--$('.users-online').html('<p>Users online: '+ data.numUsers +'</p>');-->
                <!--$('.dialog').append('<p>'+ data.user +' joined.</p>');-->
                <!--user_list.push(data.user);-->
                <!--console.log('Users online: ', user_list);-->
                <!--if (user_list.length > 0) {-->
                    <!--for (var x in user_list) {-->
                        <!--console.log(user_list[x]);-->
                        <!--html += '<p>'+ user_list[x] +'</p>';-->
                    <!--}-->
                    <!--$('.online').html(html);-->
                <!--}-->
            <!--});-->

            <!--socket.on('user left', function(data) {-->
                <!--$(".dialog").append('<div>'+ data.username +' left.</div>');-->
                <!--$('.users-online').html('<p>Users online: '+ data.numUsers);-->
            <!--});-->

        <!--});-->
    <!--</script>-->

    <title>Chatroom by Moe</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="message">
                <h1>Welcome, <span class="userName"><%= user.name %></span></h1>
                <div class="users-online"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="message-box">
                <div class="dialog"></div>
                <form class="postform" action="/postChat" method="post">
                    <input type="text" name="chatSend" id="chatSend" class="form-control">
                    <input type="submit" value="Send" class="btn btn-primary form-control">
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <div class="message-box">
                <h4>Current online users:</h4>
                <div class="online"></div>
            </div>
        </div>
    </div>
</div>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- socket.io -->
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <!-- Footer Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- Custom JS -->
    <script type="text/javascript" src="scripts/main.js"></script>

</body>
</html>