<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Bicycle Marketplace</h1>

      <div class="bike-of-day">
        <h3>Bike of the day!</h3>
        <div class="bod-box"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="box">
        <h3>Login.</h3>
        <br />
        <form action="/login" method="post" class="login">
          <div class="form-group">
            <label for="loginEmail">Email:</label>
            <input id="loginEmail" name="loginEmail" type="email" class="form-control">
          </div>
          <div class="form-group">
            <label for="loginPassword">Password:</label>
            <input id="loginPassword" name="loginPassword" type="password" class="form-control">
          </div>

          <button class="btn btn-success form-control">Login</button>
        </form>
      </div>
    </div>
    <div class="col-md-6">
      <div class="box">
        <h3>Register.</h3>
        <br />
        <form [formGroup]="userForm" action="/register" method="post" class="register">
          <div class="form-group">
            <label for="firstName">First name:</label>
            <input
              formControlName="firstName"
              required
              minlength="4"
              id="firstName"
              name="firstName"
              type="text"
              class="form-control">
          </div>
          <div class="form-group">
            <label for="lastName">Last name:</label>
            <input formControlName="lastName" required id="lastName" name="lastName" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input formControlName="email" id="email" name="email" type="email" class="form-control">
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input formControlName="password" id="password" name="password" type="password" class="form-control">
          </div>
          <div class="form-group">
            <label for="passwordConfirm">Confirm Password:</label>
            <input (keyup)="checkConfirmPass()" formControlName="confirmPass" id="passwordConfirm" name="passwordConfirm" type="password" class="form-control">

            <p *ngIf="confirmInvalid">Passwords dont match!</p>
          </div>

          <div *ngIf="userForm.controls.firstName.invalid && (userForm.controls.firstName.dirty || userForm.value.firstName.touched)"
               class="alert alert-danger">

            <div *ngIf="userForm.controls.firstName.errors.required">
              Name is required.
            </div>
            <div *ngIf="userForm.controls.firstName.errors.minlength">
              Name must be at least 4 characters long.
            </div>
            <div *ngIf="userForm.controls.firstName.errors.forbiddenName">
              Name cannot be Bob.
            </div>

          </div>
          <p>Form status: {{userForm.status}}</p>
          <button [disabled]="!userForm.valid" class="btn btn-primary form-control">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>
