<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Bicycle Marketplace</h1>

      <div class="bike-of-day">
        <h3>Bike of the day!</h3>
        <div class="bod-box"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="box">
        <h3>Login.</h3>
        <br />
        <form action="/login" method="post" class="login">
          <div class="form-group">
            <label for="loginEmail">Email:</label>
            <input id="loginEmail" name="loginEmail" type="email" class="form-control">
          </div>
          <div class="form-group">
            <label for="loginPassword">Password:</label>
            <input id="loginPassword" name="loginPassword" type="password" class="form-control">
          </div>

          <button class="btn btn-success form-control">Login</button>
        </form>
      </div>
    </div>
    <div class="col-md-6">
      <div class="box">
        <h3>Register.</h3>
        <br />
        <form [formGroup]="userForm" action="/register" method="post" class="register">
          <div class="form-group">
            <mat-form-field>
              <input
                matInput
                placeholder="Enter your first name:"
                formControlName="firstName"
                minlength="3"
                required>
              <mat-error *ngIf="userForm.controls.firstName.hasError('minlength')">
                First name must be at least 3 characters.
              </mat-error>
              <mat-error *ngIf="userForm.controls.firstName.hasError('required')">
                First name is a mandatory field, please fill it out.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field>
              <input
                matInput
                placeholder="Enter your last name:"
                formControlName="lastName"
                minlength="3"
                required>
              <mat-error *ngIf="userForm.controls.lastName.hasError('minlength')">
                Last name must be at least 3 characters.
              </mat-error>
              <mat-error *ngIf="userForm.controls.lastName.hasError('required')">
                Last name is a mandatory field, please fill it out.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field>
              <input
                matInput
                placeholder="Email:"
                formControlName="email"
                minlength="3"
                type="email"
                required>
              <mat-error *ngIf="userForm.controls.email.hasError('minlength')">
                Email must be at least 3 characters.
              </mat-error>
              <mat-error *ngIf="userForm.controls.email.hasError('required')">
                Email is a mandatory field, please fill it out.
              </mat-error>
              <mat-error *ngIf="userForm.controls.email.hasError('email')">
                Email is invalid, please insert a valid email address.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field>
              <input
                matInput
                placeholder="Password:"
                formControlName="password"
                minlength="3"
                type="password"
                required>
              <mat-error *ngIf="userForm.controls.password.hasError('minlength')">
                Password must be at least 3 characters.
              </mat-error>
              <mat-error *ngIf="userForm.controls.password.hasError('required')">
                Password is a mandatory field, please fill it out.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field>
              <input
                matInput
                placeholder="Confirm Password:"
                formControlName="confirmPass"
                minlength="3"
                type="password"
                required>
              <mat-error *ngIf="userForm.controls.confirmPass.hasError('minlength')">
                Confirm password must be at least 3 characters.
              </mat-error>
              <mat-error *ngIf="userForm.controls.confirmPass.hasError('required')">
                Confirm password is a mandatory field, please fill it out.
              </mat-error>
            </mat-form-field>
          </div>

          <p>Form status: {{userForm.status}}</p>
          <button (click)="regUser()" [disabled]="!userForm.valid" class="btn btn-primary form-control">Register</button>
        </form>
    </div>
    </div>
  </div>
</div>
