<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap 4 Styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Custom styles -->
    <link rel="stylesheet" href="styles/main.css">

    <title>SWAPI by Moe Quraishi</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Star Wars Wiki</h1>
            <h3>What would you like to know more about?</h3>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12">
            <div class="info-box">
                <button class="btn btn-primary float-left peopleBtn">People</button>
                <button class="btn btn-primary float-right planetBtn">Planets</button>
                <div class="inner-box"></div>
                <br />
                <ul class="bottom-links">
                    <li class="prev-10">Previous 10</li>
                    <li class="all-61">Get all 61</li>
                    <li class="next-10">Next 10</li>
                </ul>
            </div>
        </div>
    </div>
</div>

    <!-- Footer Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- Custom scripts -->
    <script src="scripts/main.js"></script>
</body>
</html>